<h2 class="">Sign Up</h2>
  <form id="signup-form" class="signup-form">
    <div class="username-signup">
      <label class="form-label" for="username-signup">Username</label>
      <input  id="username" type="text" class="form-input"/>
    </div>
    <div class="password-signup">
      <label class="form-label" for="password-signup">Password</label>
      <input id="password-signup" type="password" class="form-input"/>
    </div>
      <button type="submit" class="btn">Sign Up</button>
      <a class="btn signup-link" href="/login">Login</a>
  </form>
    
<script src="/js/signup.js"></script>